.navbar ul{
    margin: 0;
    list-style-type: none;
    padding: 0;
    text-align: right;
    background-color: #2dd8f7;
}
.navbar ul li{
    display: inline;
}
.navbar ul li a{
    color:white;
    text-decoration: rgb(236,177,26);
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-top: 10px;
    background-color: rgb(153,18,250);
    font-size: 25px;
}
.navbar ul a:hover{
    color: lightcoral;
    background: magenta;
}
.navbar{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(161, 13, 107);
}
.box2,.box3{
    display: inline-block;
    text-align: center;
    width: 49%;
}
.box3 img{
    width: 30%;
}
.box4 img{
    width: 30%;
    length:20%

}
.box2 img{
    width: 30%;
    lenght:30%
}
.box5 img{
    width: 30%;
    

.box4{
    text-align: center;
}
.box1 h1{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}
.box5 p{
    display: inline-block;
    width: 49%;
    vertical-align: top;
}
.box5 img{
    display: inline-block;
    width: 49%;
}
.box6 img{
    display: inline-block;
    width: 49%;
} 
.box6 p{
    display: inline-block;
    width: 49%;
}
.box6{
    margin-top: 70px;
}
.box-foot{
    background-color: mediumblue;
    color: rgb(255, 97, 145);
    margin: 0px;
    padding-top: 30px;
}
.foot-list ul li a{
    color: white;
    text-decoration: none;
}
.foot-list ul{
    list-style-type: none;
    font-size: 25px;
}
.foot-list{
    display: inline-block;
    width: 33%;
}
.foot-last p{
    display: inline-block;
    width: 49%;
}
.foot-text2{
    text-align: right;
    font-size: 25px;
}
.foot-text1{
    font-size: 25px;
    
}
.pic-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    background-color: rgb(129, 248, 50);

}
.galapic {
    flex: 1;
}

.galapic img {
    width: 400px;
}

.pic2-container {
    display: flex;
    margin-top: -30px;
    background-color: rgb(129, 248, 50);
}

.pic3-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    background-color: rgb(129, 248, 50);
}

.sapic {
    flex: 1;
}
.sapic img {
    width: 400px;
    
}

  
